div.home-header {
    position: relative;
    display: block;
    height: 300px;
    width: 99%;
    margin: auto;
    background-color: #ccd2db;
    margin-bottom: 10px;
}

div.home-header h1 {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.home-page-product {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    width: 99%;
    margin: auto;
}

div.home-page-product div {
    background-color: #ccd2db;
    height: 320px;
    position: relative;
}

div.home-page-product div h3 {
    text-transform: uppercase;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
