div.tea-page {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 17px;
    width: 90%;
    margin: auto;
}

div.tea-page div.item-wrapper {
    position: relative;
    height: 320px;
    text-align: center;
    background-color: #ccd2db;
}

div.item-wrapper > div {
    height: 100%;
    width: 100%;
}


div.tea-page p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}


i#selected {
  color: red;
}

i#unselected {
  color: white;
}

i.fa-ellipsis-h {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
    color: white;
    z-index: 100;
}

i.fa-heart {
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
    color: white;
    z-index: 100;
}

div.item-wrapper {
    overflow: hidden;
}

div.item-wrapper div:hover i.fa-heart {
    transform: translate(-50%, -50%) scale(4);
}

div.item-wrapper div:hover i.fa-ellipsis-h {
    transform: translate(-50%, -50%) scale(4);
}

div.item-wrapper div div:hover {
    filter: blur(3px);
}


i.fa-heart:hover + div p {
    filter: blur(3px);
}

i.fa-ellipsis-h:hover ~ div p {
    filter: blur(3px);
}

i.fa-heart:hover{
    cursor: pointer;
}

i.fa-ellipsis-h:hover{
    cursor: pointer;
}
